In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import datetime
import encodings #dataset might not be in desired format so to convert data using encode.
from matplotlib.gridspec import GridSpec
from matplotlib.offsetbox import AnchoredText
from matplotlib.backends.backend_pdf import PdfPages #to convert my plotted graphs to pdf
import seaborn as sns
import sklearn
from sklearn.preprocessing import LabelEncoder

In [ ]:
df=pd.read_csv("2.csv",encoding="latin1")

In [ ]:
df.head(5)

In [4]:
df['Year']=pd.to_datetime(df['Year'])

In [5]:
df['Session']=df['Year'].dt.year

In [ ]:
df.head(5)

In [6]:
df.drop('Year',axis=1,inplace=True)

In [7]:
df.head(5)

,State Name,District Name,Block Name,Panchayat Name,Village Name,Habitation Name,Quality Parameter,Session
0,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GOKAVARAM(04),VANTHADA(014 ),VANTHADA(0404410014010400),Salinity,2009
1,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GOKAVARAM(04),PANDAVULAPALEM(022 ),PANDAVULAPALEM(0404410022010400),Fluoride,2009
2,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GAJJANAPUDI(06),G. KOTHURU(023 ),G. KOTHURU(0404410023010600),Salinity,2009
3,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),GAJJANAPUDI(06),GAJJANAPUDI(029 ),GAJJANAPUDI(0404410029010600),Salinity,2009
4,ANDHRA PRADESH,EAST GODAVARI(04),PRATHIPADU(10),CHINTALURU(10),CHINTALURU(028 ),CHINTALURU(0404410028011000),Salinity,2009

In [ ]:
df.rename(columns={'Session':'Year'},inplace=True)

In [ ]:
df.head(2)

In [ ]:
df.to_csv("wq.csv",index=True)

In [ ]:
col=df.columns

In [ ]:
state=df['State Name'].unique()

In [ ]:
print(col)
print("-"*100)
print(state)

In [ ]:
len(state)

In [ ]:
len(col)

In [ ]:
df['Quality Parameter'].unique()

In [ ]:
df['Quality Parameter'].value_counts()

In [ ]:
df['Quality Parameter'].groupby(df['State Name']).describe()

In [ ]:
des=df['Quality Parameter'].groupby(df['State Name']).describe()

In [ ]:
des1=pd.DataFrame(eval('des'))

In [ ]:
des1.to_csv('description.csv',index=True)

In [ ]:
print(des1)

In [ ]:
df.groupby('State Name').size()

In [ ]:
data=df[['State Name','Quality Parameter']]

In [ ]:
print(data)

In [ ]:
number=LabelEncoder()

In [ ]:
data['Quality']=number.fit_transform(data['Quality Parameter'].astype('str'))

In [ ]:
data.head(5)

In [ ]:
set1=data.groupby(['State Name','Quality Parameter','Quality']).count()

In [ ]:
set1

In [ ]:
set1.to_html('set1.html')

In [ ]:
state_count = pd.DataFrame({'count' : data.groupby( [ "State Name", "Quality","Quality Parameter"] ).size()}).reset_index()

In [ ]:
state_count.to_html('set1.html')

In [ ]:
print("="*100)
print(state)
print("="*100)

In [ ]:
#Took 5 random states for analysis

In [ ]:
ANDHRA_PRADESH = state_count[state_count["State Name"] == "ANDHRA PRADESH"]
ASSAM = state_count[state_count["State Name"] == "ASSAM"]
ARUNACHAL_PRADESH= state_count[state_count["State Name"] == "ARUNACHAL PRADESH"]
BIHAR= state_count[state_count["State Name"] == "BIHAR"]
GUJRAT= state_count[state_count["State Name"] == "GUJRAT"]

In [ ]:
ANDHRA_PRADESH

In [ ]:
plt.figure(figsize=(8,6))
ax=sns.barplot(x='count',y='Quality Parameter',data=ANDHRA_PRADESH)
ax.set(xlabel='COUNT')
sns.despine(left=True,bottom=True)
plt.title("WATER QUALITY IN ANDHRA PRADESH")
fig=ax.get_figure()
fig.savefig("andhrapradesh.png")